In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

print('Libraries imported.')

Libraries imported.

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=next&oldid=1013111853'
url

response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
title = soup.find(id="firstHeading")
print(title.string)

List of postal codes of Canada: M

In [11]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

df.head(10)

            Borough                      Neighborhood PostalCode
0        North York                         Parkwoods        M3A
1        North York                  Victoria Village        M4A
2  Downtown Toronto         Regent Park, Harbourfront        M5A
3        North York  Lawrence Manor, Lawrence Heights        M6A
4      Queen's Park     Ontario Provincial Government        M7A
5         Etobicoke                  Islington Avenue        M9A
6       Scarborough                    Malvern, Rouge        M1B
7        North York                   Don Mills North        M3B
8         East York   Parkview Hill, Woodbine Gardens        M4B
9  Downtown Toronto          Garden District, Ryerson        M5B

In [38]:
df[df.PostalCode=='M1B']

       Borough    Neighborhood PostalCode  Latitude  Longitude
6  Scarborough  Malvern, Rouge        M1B       NaN        NaN

Same with results in example table in coursera.org

In [39]:
df.shape

(103, 5)

In [67]:
coordinats = pd.read_csv('Geospatial_Coordinates.csv')
coordinats.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [68]:
df_postcode = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()

df_postcode.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [69]:
coordinats[['Latitude','Longitude']].astype(float)

      Latitude  Longitude
0    43.806686 -79.194353
1    43.784535 -79.160497
2    43.763573 -79.188711
3    43.770992 -79.216917
4    43.773136 -79.239476
5    43.744734 -79.239476
6    43.727929 -79.262029
7    43.711112 -79.284577
8    43.716316 -79.239476
9    43.692657 -79.264848
10   43.757410 -79.273304
11   43.750072 -79.295849
12   43.794200 -79.262029
13   43.781638 -79.304302
14   43.815252 -79.284577
15   43.799525 -79.318389
16   43.836125 -79.205636
17   43.803762 -79.363452
18   43.778517 -79.346556
19   43.786947 -79.385975
20   43.757490 -79.374714
21   43.789053 -79.408493
22   43.770120 -79.408493
23   43.752758 -79.400049
24   43.782736 -79.442259
25   43.753259 -79.329656
26   43.745906 -79.352188
27   43.725900 -79.340923
28   43.754328 -79.442259
29   43.767980 -79.487262
..         ...        ...
73   43.693781 -79.428191
74   43.689026 -79.453512
75   43.669542 -79.422564
76   43.669005 -79.442259
77   43.647927 -79.419750
78   43.636847 -79.428191
79   43.713756 -79.490074
80   43.691116 -79.476013
81   43.673185 -79.487262
82   43.661608 -79.464763
83   43.648960 -79.456325
84   43.651571 -79.484450
85   43.662301 -79.389494
86   43.636966 -79.615819
87   43.662744 -79.321558
88   43.605647 -79.501321
89   43.602414 -79.543484
90   43.653654 -79.506944
91   43.636258 -79.498509
92   43.628841 -79.520999
93   43.667856 -79.532242
94   43.650943 -79.554724
95   43.643515 -79.577201
96   43.756303 -79.565963
97   43.724766 -79.532242
98   43.706876 -79.518188
99   43.696319 -79.532242
100  43.688905 -79.554724
101  43.739416 -79.588437
102  43.706748 -79.594054

[103 rows x 2 columns]

toronto_data = df_postcode.join(coordinats, on='PostalCode')

In [70]:
df_postcode.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [71]:
coordinats.dtypes

PostalCode     object
Latitude      float64
Longitude     float64
dtype: object

In [72]:
coordinats.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476